@media (min-width: 768px) {
	#POPUP348,
	#HEADLINE397,
	#SHAPE398,
	#PARAGRAPH409,
	#HEADLINE427,
	#PARAGRAPH439,
	#HEADLINE428,
	#PARAGRAPH440,
	#HEADLINE445,
	#GROUP478,
	#GROUP479,
	#GROUP481,
	#GROUP483,
	#IMAGE414,
	#GROUP496,
	#GROUP499,
	#HEADLINE449,
	#PARAGRAPH531,
	#FORM347,
	#PARAGRAPH537,
	#PARAGRAPH538,
	#PARAGRAPH539,
	#PARAGRAPH540,
	#IMAGE416,
	#IMAGE417,
	#PARAGRAPH565,
	#IMAGE418,
	#IMAGE419,
	#IMAGE420,
	#HEADLINE465,
	#HEADLINE466,
	#IMAGE421,
	#HEADLINE467,
	#GROUP515,
	#GROUP516,
	#GROUP517,
	#HEADLINE472,
	#IMAGE425,
	#IMAGE426,
	#IMAGE427,
	#IMAGE428,
	#IMAGE429,
	#IMAGE430,
	#IMAGE431,
	#IMAGE432,
	#IMAGE433,
	#IMAGE434,
	#SHAPE437,
	#GROUP521,
	#HEADLINE474,
	#GROUP522,
	#GROUP523,
	#GROUP524,
	#GROUP526,
	#IMAGE440,
	#IMAGE441,
	#GROUP527,
	#HEADLINE478,
	#PARAGRAPH579,
	#GROUP533,
	#GROUP534,
	#GROUP535,
	#GROUP536,
	#GROUP540,
	#GROUP541,
	#GROUP542,
	#GROUP543,
	#SHAPE443,
	#SHAPE444,
	#GROUP546 {
		opacity: 0 !important;
		pointer-events: none !important;
	}
}

@media (max-width: 767px) {

	#POPUP348,
	#HEADLINE397,
	#SHAPE398,
	#PARAGRAPH409,
	#HEADLINE427,
	#PARAGRAPH439,
	#HEADLINE428,
	#PARAGRAPH440,
	#GROUP469,
	#HEADLINE445,
	#GROUP478,
	#GROUP479,
	#GROUP481,
	#GROUP483,
	#IMAGE414,
	#GROUP496,
	#GROUP499,
	#HEADLINE449,
	#PARAGRAPH531,
	#FORM347,
	#PARAGRAPH537,
	#PARAGRAPH538,
	#PARAGRAPH539,
	#PARAGRAPH540,
	#IMAGE416,
	#IMAGE417,
	#PARAGRAPH565,
	#IMAGE418,
	#IMAGE419,
	#IMAGE420,
	#HEADLINE465,
	#HEADLINE466,
	#IMAGE421,
	#HEADLINE467,
	#GROUP515,
	#GROUP516,
	#GROUP517,
	#HEADLINE472,
	#IMAGE425,
	#IMAGE426,
	#IMAGE427,
	#IMAGE428,
	#IMAGE429,
	#IMAGE430,
	#IMAGE431,
	#IMAGE432,
	#IMAGE433,
	#IMAGE434,
	#SHAPE437,
	#GROUP521,
	#HEADLINE474,
	#GROUP522,
	#GROUP523,
	#GROUP524,
	#GROUP526,
	#IMAGE440,
	#IMAGE441,
	#GROUP527,
	#HEADLINE478,
	#PARAGRAPH579,
	#GROUP533,
	#GROUP534,
	#GROUP535,
	#GROUP536,
	#GROUP540,
	#GROUP541,
	#GROUP542,
	#GROUP543,
	#SHAPE443,
	#SHAPE444,
	#GROUP546 {
		opacity: 0 !important;
		pointer-events: none !important;
	}
}