@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "UTM Yen Tu";
  src: url("https://w.ladicdn.com/5c728619c417ab07e5194baa/utm-yen-tu-20240502170713-sukzp.ttf") format("truetype");
}

@font-face {
  font-family: "UVN Moi Hong";
  src: url("https://w.ladicdn.com/5c728619c417ab07e5194baa/uvnmoihong-20240502170800-ouaqa.ttf") format("truetype");
}

@font-face {
  font-family: "VNI Shishoni Brush";
  src: url("https://w.ladicdn.com/5c728619c417ab07e5194baa/vni-shishonibrush-20240502171037-cfoff.ttf") format("truetype");
}

@font-face {
  font-family: "UTM ViceroyJF";
  src: url("https://w.ladicdn.com/5c728619c417ab07e5194baa/utm-viceroyjf-20240502170713-wbcvj.ttf") format("truetype");
}

@font-face {
  font-family: "UVN Ben Xuan R";
  src: url("https://w.ladicdn.com/5c728619c417ab07e5194baa/uvnbenxuan_r-20240502170726-wtnlr.ttf") format("truetype");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.before-animate {
  opacity: 0;
  transition: none !important;
}

.fadein-up {
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadein-down {
  opacity: 0;
  animation: fadeInDown 1s ease-out forwards;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadein-left {
  opacity: 0;
  animation: fadeInLeft 1s ease-out forwards;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadein-right {
  opacity: 0;
  animation: fadeInRight 1s ease-out forwards;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadein-bounce {
  opacity: 0;
  animation: bounce 1s ease-out forwards;
}

@keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.fadein-bounceIn {
  opacity: 0;
  animation: bounceIn 1s ease-out forwards;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        transform: scale(0.3);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }
    70% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
